{% extends "clientes/base.html" %}

{% block titulo %}
Cadastro de Clientes
{% endblock titulo %}

{% block conteudo %}

<form method="post">
  {{ form.csrf_token }}
  <div class="form-group">
    <label>Nome</label>
      {{ form.nome(class="form-control") }}

      {% if form.errors.nome %}
      <div class="alert alert-danger">
        {{ form.errors.nome }}
      </div>
      {% endif %}

  </div>
    <label>Email</label>
      {{ form.email(class="form-control")}}

      {% if form.errors.email %}
      <div class="alert alert-danger">
        {{ form.errors.email }}
      </div>
      {% endif %}

  </div>
    <label>Data de Nascimento</label>
      {{ form.data_nascimento(class="form-control") }}

      {% if form.errors.data_nascimento %}
      <div class="alert alert-danger">
        {{ form.errors.data_nascimento }}
      </div>
      {% endif %}

  </div>
    <label>Profissão</label>
      {{ form.profissao(class="form-control") }}

      {% if form.errors.profissao %}
      <div class="alert alert-danger">
        {{ form.errors.profissao }}
      </div>
      {% endif %}

  </div>
    <label>Sexo</label>
      {{ form.sexo(class="form-control") }}

      {% if form.errors.sexo %}
      <div class="alert alert-danger">
        {{ form.errors.sexo }}
      </div>
      {% endif %}

  </div>
  <button class="btn btn-primary" type="submit">Cadastrar</button>
</form>

{% endblock conteudo %}
