{% extends "clientes/base.html" %}

{% block titulo %}
Remocao de cliente
{% endblock titulo %}


{% block conteudo %}
<div class="card">
    <div class="card-header">
        Você tem certeza que deseja remover o cliente abaixo:
    </div>
    <div class="card-body">
        <h4 class="card-title">Nome: {{ cliente.nome }}</h4>
        <h5 class="card-title">Sexo: {{ cliente.sexo.value }}</h5>
        <h5 class="card-title">Data de Nascimento: {{ cliente.data_nascimento.strftime("%d/%m/%Y") }}</h5>
        <h5 class="card-title">Email: {{ cliente.email}}</h5>
        <h5 class="card-title">Profissão: {{ cliente.profissao }}</h5>

        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>
    </div>
</div>

{% endblock conteudo %}
